.blog dl.blog {
  font-size: 0.14rem;
  margin-bottom: 0.48rem;
}
.blog dl.blog dt {
  padding: 0.1rem;
  background: #ffffff;
  margin-bottom: 0.21rem;
}
.blog dl.blog dt .photo {
  width: 0.43rem;
  margin-right: 0.1rem;
  position: relative;
}
.blog dl.blog dt .photo img.logo {
  border-radius: 50%;
  width: 0.43rem;
  height: 0.43rem;
}
.blog dl.blog dt .photo img.vip {
  width: 0.16rem;
  height: 0.16rem;
  position: absolute;
  bottom: 0;
  right: 0%;
}
.blog dl.blog dt .tit {
  width: 2.47rem;
  font-weight: 900;
  font-size: 0.16rem;
  line-height: 0.23rem;
}
.blog dl.blog dt .tit p.time {
  font-size: 0.12rem;
  color: #cccccc;
  line-height: 0.19rem;
}
.blog dl.blog dt .text {
  border-radius: 0.1rem;
  background: #f4f4f4;
  padding: 0.1rem;
  margin-top: 0.1rem;
}
.blog dl.blog dt .text .title {
  color: #888888;
  line-height: 0.18rem;
}
.blog dl.blog dt .text .img {
  margin-top: 0.1rem;
  margin-bottom: 0.05rem;
}
.blog dl.blog dt .text .img > span {
  display: block;
  float: left;
  width: 0.89rem;
  height: 0.87rem;
  overflow: hidden;
  margin-bottom: 0.05rem;
}
.blog dl.blog dt .text .img > span:nth-child(n + 2) {
  margin-left: 0.05rem;
}
.blog dl.blog dt .see {
  margin-top: 0.08rem;
  padding-bottom: 0.08rem;
  border-bottom: 1px solid #eeeeee;
  line-height: 0.13rem;
  position: relative;
  height: 0.18rem;
}
.blog dl.blog dt .see .viewers img {
  width: 0.22rem;
  height: 0.22rem;
  margin-right: 0.08rem;
  border-radius: 50%;
}
.blog dl.blog dt .see .prt {
  color: #999999;
  position: absolute;
  right: 0%;
  top: 0%;
}
.blog dl.blog dt .see .prt img {
  height: 0.15rem;
  position: relative;
  left: -0.03rem;
}
.blog dl.blog dt .see .prt img.openBlog {
  cursor: pointer;
}
.blog dl.blog dt .see .prt .openBox {
  margin-right: 0.04rem;
  background: #000000;
  padding: 0.04rem 0.1rem 0.08rem 0.1rem;
  border-radius: 0.02rem;
}
.blog dl.blog dt .see .prt .openBox a {
  color: #ffffff;
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.blog dl.blog dt .see .prt .openBox a span {
  font-size: 0.11rem;
  position: relative;
  top: 0.01rem;
}
.blog .leave {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0.45rem;
  line-height: 0.49rem;
  background: #ffffff;
  z-index: 9;
  border-top: 1px solid #aaaaaa;
}
.blog .leave .search {
  float: left;
  width: 2.65rem;
  overflow: hidden;
  margin-right: 0.045rem;
}
.blog .leave .search input {
  width: 100%;
  border-bottom: 1px solid #00cd00;
  margin-left: 0.09rem;
}
.blog .leave a {
  display: block;
  float: left;
  border: 1px solid #999999;
  height: 0.28rem;
  line-height: 0.28rem;
  width: 0.4rem;
  position: relative;
  top: 0.085rem;
  text-align: center;
  border-radius: 0.04rem;
}
